body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Verdana", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.btn {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.page-header {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 17px;
    line-height: 17px;
    background-color: #f3f7f9;
}

.page-header-top {
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
}

.site-logo {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ee3643;
}

.site-logo:hover {
    background-color: #ca2c37;
}

.site-logo:active{
    background-color: #ba2732;
}

.top-info:hover {
    background-color: #212a3a;
}

.top-info:active {
    background-color: #161d29;
    opacity: 0.6;
}

.btn-make-order {
    text-transform: none;
    background-color: #63a63e;
}

.btn-make-order:hover {
    background-color: #5fbb2d;
}

.btn-make-order:active {
    background-color: #518534;
    opacity: 0.5;
}

.site-search input[type="search"] {
    background-color: #293449;
    border: none;
    color: #ffffff;
    outline: none;
}

.header-top {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    color: #ee3643;
}

.telephone-number {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.shop-location {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-block,
.user-menu,
.main-menu {
    margin: 0;
    padding: 0;
}

.user-block {
    list-style: none;
}

.user-block li {
    background-color: #ffffff;
}

.user-block a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-block a:hover {
    color: #ee3643;
}

.user-block a:active {
    color: #000000;
    opacity: 0.3;
}

.user-menu li {
    background-color: inherit;
}

.user-menu li:first-child {
    list-style: none;
}

.user-menu a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.main-menu {
    list-style: none;
}

.main-menu a {
    display: block;
    background-color: #32425c;
}

.main-menu a:hover {
    background-color: #293449;
}

.main-menu a:active {
    background-color: #1d2739;
}

.features-list-item {
    background-color: #000000;
}

.type-item {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}