body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Verdana", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.page-header {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 17px;
    line-height: 17px;
    background-color: #f3f7f9;
}

.page-header-top {
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
}

.page-header-top .container {
    display: flex;
    margin-bottom: 45px;
}

.site-logo,
.site-logo-footer {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
                0 5px 0 0 #ee3643;
}

.site-logo {
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.site-logo:hover {
    background-color: #ca2c37;
}

.site-logo:active{
    background-color: #ba2732;
}

.site-search {
    display: flex;
    width: 270px;
}

.site-search:hover,
.site-search:focus,
.site-search input[type="search"]:hover,
.site-search input[type="search"]:focus {
    background-color: #212a3a;
}

.site-search input::placeholder {
    color: #ffffff;
}

.btn-search {
    padding-left: 15px;
    border: none;
    background-color: inherit;
}

.site-search:hover .icon-search,
.site-search:focus .icon-search {
    fill: #ffffff;
}

.btn-head-bookmark,
.btn-head-cart {
    position: relative;
    padding-left: 45px;
    padding-right: 30px;
    line-height: 40px;
    white-space: nowrap;
}

.btn-full-cart {
    background-color: #ee3643;
}

.btn-head-bookmark::before,
.btn-head-cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 21px;
    height: 18px;
    opacity: 0.3;
}

.btn-head-bookmark::before {
    background: url("../img/icon-bookmark.svg") 0 0 no-repeat;
}

.btn-head-cart::before {
    background: url("../img/icon-cart.svg") 0 0 no-repeat;
}

.btn-head-bookmark:hover::before,
.btn-head-bookmark:focus::before,
.btn-head-cart:hover::before,
.btn-head-cart:focus::before {
    opacity: 1;
}

.btn-head-bookmark:active,
.btn-head-cart:active {
    background-color: #161d29;
    opacity: 0.6;
}

.btn-head-bookmark:active::before,
.btn-head-cart:active::before {
    opacity: 0.5;
}

.btn-make-order {
    width: 150px;
    font-size: 17px;
    line-height: 40px;
    text-transform: none;
    background-color: #63a63e;
}

.btn-make-order:hover {
    background-color: #5fbb2d;
}

.btn-make-order:active {
    background-color: #518534;
    opacity: 0.5;
}

.site-search input[type="search"] {
    color: #ffffff;
    background-color: #293449;
    border: none;
    outline: none;
}

.page-header-info .container {
    display: flex;
    flex-wrap: wrap;
}

.header-top {
    width: 200px;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    color: #ee3643;
}

.page-header-contacts {
    width: 270px;
    margin-right: 70px;
    margin-bottom: 40px;
}

.telephone-number {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 270px;
    margin-bottom: 5px;
    padding: 10px 0 10px 75px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
}

.telephone-number::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    width: 22px;
    height: 22px;
    background: url("../img/icon-phone.svg") 0 0 no-repeat;
}

.shop-location {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: -0.8px;
    color: #32425c;
}

.user-block {
    width: 300px;
}

.page-header-menu {
    margin-bottom: 65px;
    box-shadow: 0 5px 0 0 #293449;
}

.page-header-menu .container {
    display: flex;
}

.user-login,
.user-menu,
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-login {
    display: flex;
}

.user-login li {
    margin-right: 10px;
}

.user-login a {
    display: block;
    padding: 15px 25px 15px 50px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-login a:hover,
.user-menu a:hover {
    color: #ee3643;
}

.user-login a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.user-menu li:not(:first-child) {
    list-style: circle;
}

.user-menu a {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu {
    display: flex;
}

.main-menu a {
    display: block;
    padding: 20px 30px;
    background-color: #32425c;
}

.main-menu li:first-child a {
    padding-left: 55px;
}

.main-menu li:last-child a {
    padding-right: 55px;
}

.main-menu a:hover {
    background-color: #293449;
}

.main-menu a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.features {
    margin-top: 60px;
    margin-bottom: 55px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-list-item {
    width: 300px;
    margin-bottom: 20px;
}

.type-item {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.feature-column-wrapper {
    display: flex;
    flex-direction: column;
}

.features-materials {
    background-color: #ffbf47; 
}

.features-tools {
    background-color: #3bbce3; 
}

.features-technique {
    background-color: #dc91d8; 
}

.features-sales {
    background-color: #8ed78f; 
}

.features-delivery {
    background-color: #ffc047; 
}

.btn-feature {
    background-color: rgba(0, 0, 0, 0.1);
}

.features-slider {
    width: 620px;
}

.feature-slider-pinch {
    display: none;
    background-color: #ab9a85;
    background-image: url(../img/slider-punch.jpg);
    background-repeat: no-repeat;
}

.feature-slider-drill {
    background-color: #ab9a85;
    background-image: url(../img/slider-drill.jpg);
    background-repeat: no-repeat;
}

.slide-head {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.slide-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.big-header {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

.bigheader-padding {
    padding: 30px;
}

.another-header {
    color: #000000;
}

.popular-head {
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.products-list {
    display: flex;
    justify-content: space-between;
}

.products-list-item {
    width: 220px;
}

.product-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.previous-price {
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9;
}

.current-price {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}

.popular-developers-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 85px;
}


.popular-developers-item {
    width: 220px;
    min-height: 145px;
}

.services {
    background-color: #f4f8f9;
    padding-top: 1px;
}

.services-head {
    margin-top: 70px;
    margin-bottom: 75px;
}

.services-slider-wrapper {
    display: flex;
    
}

.services-slider-list-container {
    margin-right: 80px;
}

.services-slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-slider-list li {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
}

.services-slider-list li:hover {
    background-color: #293449;
}

.services-slide-head {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services-slider-delivery {
    background-image: url(../img/delivery-pic.png);
    background-repeat: no-repeat;
}

.services-slider-guarantee {
    background-image: url(../img/guarantee-pic.png);
    background-repeat: no-repeat;
}

.services-slider-credit {
    background-image: url(../img/credit-pic.png);
    background-repeat: no-repeat;
}

.services + .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.index-main {
    margin-top: 60px;
}

.catalog-main {
    margin-top: 25px;
}

.catalog-menu,
.sort-parameters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-menu a,
.catalog-menu li {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-content-container {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    width: 220px;
}

.filter-head {
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.field-container {
    border: none;
}

.field-container legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.field-container input[type="text"] {
    font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;
}

.field-container label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-form {
    font-family: "PT Sans", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

.products-container {
    width: 700px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-sort {
    background-color: #f7f3ec;
}

.sort-parameters a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.btn-buy {
    background-color: #63a63e;
}

.btn-tobookmark {
    color: #32425c;
    background-color: #e5e5e5;
    border: 3px solid #63a63e;
}

.page-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-about-product {
    background-color: #f2f6f8;
}

.page-footer {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #32425c;
}

.page-footer .container {
    margin-bottom: 50px;
}

.footer-menu-top,
.footer-menu-bottom {
    display: flex;
    padding-top: 1px;
}

.site-logo-footer {
    width: 220px;
    height: 65px;
    margin-right: 175px;
}

.footer-list-top,
.footer-list-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list-top {
    margin-top: 40px;
}

.footer-menu-bottom p {
    margin: 0;
    padding: 0;
    margin-right: 90px;
}

.footer-list-bottom a,
.footer-copyright a {
    color: #ffd180;
}

.footer-copyright {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.footer-copyright .container {
    display: flex;
}

.copyright {
    width: 260px;
    margin-right: 150px;
}

.footer-copyright p {
    margin: 0;
    padding: 0;
}

.footer-copyright-social {
    margin-right: 115px;
}

.footer-copyright-urls {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-copyright-urls p:first-child {
    margin-right: 50px;
}

.write-us label {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.button-container {
    background-color: #f4f4f4;
}

.add-message {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 30px;
    line-height: 30px;
}