body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Verdana", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.page-header {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 17px;
    line-height: 17px;
    background-color: #f3f7f9;
}

.page-header-top {
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
}

.page-header-top .container {
    display: flex;
    margin-bottom: 45px;
}

.site-logo,
.site-logo-footer {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.site-logo {
    width: 220px;
    height: 40px;
    text-align: center;
}

.site-logo:hover {
    background-color: #ca2c37;
}

.site-logo:active{
    background-color: #ba2732;
}

.site-search {
    width: 240px;
    margin-right: 45px;
}

.btn-head-bookmark {
    width: 125px;
    margin-right: 35px;
}

.btn-head-cart {
    width: 125px;
    margin-right: 10px;
}

.btn-head-bookmark:hover,
.btn-head-cart:hover {
    background-color: #212a3a;
}

.btn-head-bookmark:active,
.btn-head-cart:active {
    background-color: #161d29;
    opacity: 0.6;
}

.btn-make-order {
    width: 150px;
    text-transform: none;
    background-color: #63a63e;
}

.btn-make-order:hover {
    background-color: #5fbb2d;
}

.btn-make-order:active {
    background-color: #518534;
    opacity: 0.5;
}

.site-search input[type="search"] {
    color: #ffffff;
    background-color: #293449;
    border: none;
    outline: none;
}

.page-header-info .container {
    display: flex;
    flex-wrap: wrap;
}

.header-top {
    width: 200px;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    color: #ee3643;
}

.page-header-contacts {
    width: 300px;
    margin-right: 35px;
}

.telephone-number {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.shop-location {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-block {
    width: 300px;
}

.page-header-menu {
    width: 940px;
    margin-top: 40px;
}

.user-login,
.user-menu,
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-login a {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-login a:hover,
.user-menu a:hover {
    color: #ee3643;
}

.user-login a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.user-menu li:not(:first-child) {
    list-style: circle;
}

.user-menu a {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu a {
    display: block;
    background-color: #32425c;
}

.main-menu a:hover {
    background-color: #293449;
}

.main-menu a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.type-item {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.features-materials {
    background-color: #ffbf47; 
}

.features-tools {
    background-color: #3bbce3; 
}

.features-technique {
    background-color: #dc91d8; 
}

.features-sales {
    background-color: #8ed78f; 
}

.features-delivery {
    background-color: #ffc047; 
}

.btn-feature {
    background-color: rgba(0, 0, 0, 0.1);
}

.feature-slider-pinch {
    background-color: #ab9a85;
    background-image: url(../img/slider-punch.jpg);
    background-repeat: no-repeat;
}

.feature-slider-drill {
    background-color: #ab9a85;
    background-image: url(../img/slider-drill.jpg);
    background-repeat: no-repeat;
}

.slide-head {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.slide-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.big-header {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.another-header {
    color: #000000;
}

.popular-head {
    background-color: #f9f5f0;
}

.product-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.previous-price {
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9;
}

.current-price {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}

.services {
    background-color: #f4f8f9;
}

.services-slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-slider-list li {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
}

.services-slider-list li:hover {
    background-color: #293449;
}

.services-slide-head {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services-slider-delivery {
    background-image: url(../img/delivery-pic.png);
    background-repeat: no-repeat;
}

.services-slider-guarantee {
    background-image: url(../img/guarantee-pic.png);
    background-repeat: no-repeat;
}

.services-slider-credit {
    background-image: url(../img/credit-pic.png);
    background-repeat: no-repeat;
}

.catalog-menu,
.sort-parameters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-menu a,
.catalog-menu li {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.filter-head {
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.field-container {
    border: none;
}

.field-container legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.field-container input[type="text"] {
    font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;
}

.field-container label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-form {
    font-family: "PT Sans", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

.products-sort {
    background-color: #f7f3ec;
}

.sort-parameters a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.btn-buy {
    background-color: #63a63e;
}

.btn-tobookmark {
    color: #32425c;
    background-color: #e5e5e5;
    border: 3px solid #63a63e;
}

.page-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-about-product {
    background-color: #f2f6f8;
}

.page-footer {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #32425c;
}

.footer-list-top,
.footer-list-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.footer-list-bottom a,
.footer-copyright a {
    color: #ffd180;
}

.footer-copyright {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.write-us label {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.button-container {
    background-color: #f4f4f4;
}

.add-message {
    font-family: "Cuprum", "Verdana", sans-serif;
    font-size: 30px;
    line-height: 30px;
}